@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Google font format */
.css-selector {
    font-family: 'Font Name', serif;
    }

div {
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 8px 0;
  }

.menu-hash {
    padding-left: 10px;
    padding-top: 10px;
}

#title {
    text-align: center;
    background-color: rgb(243, 205,162);
}

.menu-tab {
    text-align: left;
}

h2 {
    text-align: center;
    justify-content: center;
}

section {
    text-align: center;
}

.recipe-page {
    text-align: center;
}

h3 {
    text-align: center;
    background: "./assets/"
}

#random-image, #random-recipe {
    background-color: rgb(252,230,162);
    width: 30%;
    justify-content: center;
}

#todaySpecial {
    background-color: rgb(253,242,208);
    height: 50px;
    width: 200px;
    border-style: dashed;
    justify-content: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
